body.white{
  background-color: white;
  color:black;
}

body.blue {
  background-color: #E0FFFF;
  color:#696969;
}

  header {
    border-bottom: 2px solid gray;
    padding: 20px;
}

  header img {
    float: right;
    height: 100px;
  }

  nav {
    border-right: 1px solid gray;
    width: 280px;
    height:600px;
    float:left;

  }
  nav ol{
    list-style-type:none;
    font-size: 20px;
    padding: 0px;
  }

  article {
float: left;
padding: 20px;
width: 500px;
  }

#control {
  float: right;
}
