body.white{
  background-color: white;
  color:black;
}

body.blue {
  background-color: #E0FFFF;
  color:#696969;
}

#logo{
  width: 100px;
}

.container{
  padding-top: 20px;
}

.col-md-9{
  padding-top:20px;
}

#control {
  margin-bottom: 20px;
  float:right;
}

#colorChange{
  float:left;
}
